.button-delete {
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
}


.button-delete:hover {
  opacity: 0.3;
  cursor: pointer;
}
