.footer {
  display: flex;
  position: relative;
  width: 880px;
  justify-content: flex-start;
  margin: auto;
  padding-bottom: 60px;
}
.footer__author {
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  width: 318px;
}
@media screen and  (max-width: 880px) {
  .footer {
    justify-content: center;
    text-align: center;
    width: 318px;
  }

  
  .footer__author {
    text-align: center;
  }
}
