.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.popup__overlay {
  opacity: 0.7;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.popup__overlay:hover {
  cursor: pointer;
}

.popup_show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  background-color: white;
  z-index: 1;
  height: 330px;
  border-radius: 10px;
  margin: 0;
}

.popup__content-image {
  position: relative;
  z-index: 1;
  top: 30px;
}

.popup__image {
  width: 433px;
  height: 540px;
  align-self: center;
}

.popup__title {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: white;
}

.popup__button-close {
  position: absolute;
  border: none;
  z-index: 1;
  top: -40px;
  right: -40px;
  background-color: transparent;
}

.popup__button-close:hover {
  opacity: 0.7;
  cursor: pointer;
}

.popup__set {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  color: black;
  align-items: baseline;
  margin-left: 30px;
  column-gap: 0;
}

.popup__label {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
}

.popup__label_edit {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  align-self: baseline;
}

.form_submit {
  background-color: black;
  color: white;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  align-self: center;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.form_submit:hover {
  opacity: 0.7;
}

.form_set {
  align-items: center;
  justify-content: center;
  border: none;
}

.form_input {
  border-bottom: 0ch;
  width: 358px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.form_input:valid {
  border-bottom: 2px green solid;
}

.form_input_has-error {
  border-bottom: 2px darkred solid;
}

.form_error {
  color: red;
  font-size: 12px;
}

.form_submit:disabled {
  background-color: grey;
}

.popup__content_confirmation{
  width: 430px;
  height: 181px;
}

.confirmation__title{
  width: 358px;
  height: 23px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
}

@media screen and (max-width: 880px) {
  .popup__content {
    width: 288px;
    height: 322px;
  }

  .popup__label {
    width: 238px;
    height: 22px;
  }

  .popup__label_edit {
    width: 238px;
    height: 14px;
  }

  .form_input {
    width: 238px;
  }

  .form_set {
    width: 238px;
  }
  .form_submit {
    width: 238px;
  }

  .popup__form {
    width: 288px;
    align-items: center;
    margin: 0;
  }

  .popup__image {
    width: 240px;
    height: 299px;
  }
}

